RewriteCond %{REQUEST_URI} !^index\.html
RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|js|css)$
RewriteRule (.*) ajax.php/$1 [L,QSA]

<Files config.ini>
        Order Allow,Deny
        Deny from all
</Files>
<Files db.sql>
        Order Allow,Deny
        Deny from all
</Files>
<Files import.php>
        Order Allow,Deny
        Deny from all
</Files>
<Files data.csv>
        Order Allow,Deny
        Deny from all
</Files>