RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteRule ^api/(.*)$ ajax.php [L]

<Files config.ini>
        Order Allow,Deny
        Deny from all
</Files>
<Files db.sql>
        Order Allow,Deny
        Deny from all
</Files>
<Files import.php>
        Order Allow,Deny
        Deny from all
</Files>
<Files data-base.csv>
        Order Allow,Deny
        Deny from all
</Files>
<Files data-station.csv>
        Order Allow,Deny
        Deny from all
</Files>